:root{
    --primary : #e7e5dc;
    --secondary : #492811;
    --ternary : #e28b3a;
    --ternary2 : #865009;
    --text : rgba(237, 240, 63, 0.658);
    --close : rgba(255, 0, 0, 0.795);
    --complete : rgb(8, 170, 8);
}

@font-face {
    font-family: light;
    src: url(./AeonikTRIAL-Light.otf);
}
@font-face {
    font-family: normal;
    src: url(./AeonikTRIAL-Regular.otf);
}
@font-face {
    font-family: bold;
    src: url(./AeonikTRIAL-Bold.otf);
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    font-family: normal;
    background-color: var(--secondary);
    color: var(--primary);
}

nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: var(--ternary2);
}

section.allElems{
    height: 100%;
    width: 100%;
    padding: 25px;
    padding-top: 100px;
    display: flex;
    justify-content: space-evenly;
    gap: 25px;
    flex-wrap: nowrap;
    position: absolute;
}

section .elem{
    height: 380px;
    width: 250px;
    border-radius: 10px;
    color: var(--primary);
    overflow: hidden;
    position: relative;
    transition: all ease 0.5s;
    cursor: pointer;
    box-shadow: 1px 2px 10px var(--ternary2);
}

section img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

section .elem h2{
    position: absolute;
    bottom: 3%;
    right: 7%;
    font-size: 20px;
    font-weight: 300;
}

.elem:active{
    scale: 0.97;
}
.elem:hover{
    scale: 1.02;
}

.fullElem{
    width: 100%;
    height: 100%;
    background-color: var(--secondary);
    padding: 30px;
    display: none;
    position: absolute;
}

.back{
    position: absolute;
    right: 5%;
    font-size: 30px;
    font-weight: 800;
    border-radius: 50%;
    padding: 5px 10px 7px 11px;
    color: var(--primary);
    border: none;
    background-color: var(--close);
}
.back:active{
    scale: 0.95;
}


/* --------------------- todo-list-fullpage -------------------- */


.todo-list-fullpage h2{
    font-size: 45px;
    padding: 20px 30px;
    letter-spacing: 3px;
}

.todo-list-fullpage .todo-container{
    width: 100%;
    height: 85%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo-list-fullpage .todo-container .addTask{
    width: 33%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--ternary2);
}

.todo-list-fullpage .todo-container .allTask{
    width: 64%;
    height: 100%;
    border-radius: 20px;
    background-color: var(--ternary2);
}

.todo-list-fullpage .todo-container .addTask form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    font-family: normal;
}

.todo-list-fullpage .todo-container .addTask form .input-task{
    width: 100%;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--secondary);
    border: none;
    outline: none;
    margin-bottom: 20px;
    margin-top: 20px;
}

.todo-list-fullpage .todo-container .addTask form textarea{
    width: 100%;
    height: 250px;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 500;
    background-color: var(--primary);
    border-radius: 5px;
    color: var(--secondary);
    border: none;
    outline: none;
    margin-bottom: 20px;
    resize: none;
}

.todo-list-fullpage .todo-container .addTask form button{
    width: 100%;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: 700;
    background-color: rgb(235, 201, 11);
    border-radius: 5px;
    color: var(--primary);
    border: none;
    outline: none;
    margin-bottom: 20px;
    transition: all ease 0.3s;
}

.todo-list-fullpage .todo-container .addTask form button:active{
    scale: 0.97;
}

.todo-list-fullpage .todo-container .allTask{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    overflow: auto;
}

.todo-list-fullpage .todo-container .allTask .task{
    width: 100%;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 20px 20px;
    margin-bottom: 15px;
}

.todo-list-fullpage .todo-container .allTask .task h5{
    font-size: 23px;
    font-weight: 900;
    letter-spacing: 1px;
    margin-bottom: 3px;
    word-spacing: 5px;
    color: var(--secondary);
}

.todo-list-fullpage .todo-container .allTask .task h5 .imp-tag{
    font-size:9px;
    background:#ff3b3b;
    color:white;
    padding:2px 5px;
    border-radius:4px;
    margin-left:6px;
}

.todo-list-fullpage .todo-container .allTask .task span{
    font-size: 16px;
    font-weight: 500;
    color: var(--secondary);
}

.todo-list-fullpage .todo-container .allTask .task button{
    color: var(--primary);
    background-color: var(--complete);
    padding: 7px 20px;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: all ease 0.3s;
}
.todo-list-fullpage .todo-container .allTask .task button:active{
    scale: 0.97;
}


.todo-list-fullpage .todo-container .addTask form .mark-imp{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
    color: var(--secondary);
    margin-bottom: 20px;
}

.todo-list-fullpage .todo-container .mark-imp #check{
    width: 20px;
    height: 20px;
}

.todo-list-fullpage .todo-container .mark-imp label{
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--primary);
    transition: all ease 0.3s;
}
@keyframes shake {
    0%{
        transform: translate(10px , 0);
    }
    25%{
        transform: translate(-10px, 0);
    }
    50%{
        transform: translate(10px, 0);
    }
    75%{
        transform: translate(-10px, 0);
    }
    100%{
        transform: translate(10px, 0);
    }
}



/* --------------------- daily-planner-fullpage -------------------- */


.daily-planner-fullpage h2{
    font-size: 45px;
    padding: 20px 30px;
    letter-spacing: 3px;
}

.daily-planner-fullpage .day-planner{
    width: 100%;
    height: 85%;
    background-color: var(--ternary2);
    border-radius: 20px;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: auto;
}

.daily-planner-fullpage .day-planner .day-planner-time{
    width: 45%;
    background-color: var(--secondary);
    padding: 22px 10px 0px 10px; 
    border-radius: 5px;
    margin-bottom: 20px;
    position: relative;
}

.daily-planner-fullpage .day-planner .day-planner-time p{
    font-size: 17px;
    position: absolute;
    top: 12%;
    left: 3%;
    color: var(--primary);
}

.daily-planner-fullpage .day-planner .day-planner-time input{
    font-size: 24px;
    margin: 0 20px;
    background-color: var(--secondary);
    color: var(--primary);
    border: none;
    outline: none;
    width: 90%;
    padding: 10px 15px;
}
.daily-planner-fullpage .day-planner .day-planner-time span{
    position: absolute;
    right: 2%;
    top: 25%;
    font-size: 30px;
    transition: all ease 0.2s;
}
.daily-planner-fullpage .day-planner .day-planner-time span:hover{
    color: red;
}

.daily-planner-fullpage .day-planner .day-planner-time span:active{
    scale: 0.85;
}


/* --------------------- motivation-fullpage -------------------- */

.motivation-fullpage{
    width:100%;
    height:100%;
}

.motivation-fullpage h2{
    font-size:45px;
    padding:20px 30px;
    letter-spacing:3px;
}

.motivation-fullpage .motivational-container{
    width:100%;
    height:85%;
    display:flex;
    align-items:center;
    justify-content:center;
}


.motivation-fullpage .motivational-container .motivation-wrapper{
    width: 80%;
    min-height: 60%;
    max-height: 90%;
    background:var(--ternary);
    border-radius:20px;
    padding:35px;
    display:flex;
    flex-direction:column;
    gap:25px;
    box-shadow:0 20px 80px rgba(0,0,0,0.35);
    transition:all .35s ease;
    position:relative;
}

.motivation-fullpage .motivational-container .motivation-wrapper:hover{
    transform:translateY(-5px) scale(1.02);
}

.motivation-fullpage .motivational-container .motivation-wrapper .motivation-1{
    width:100%;
}

.motivation-fullpage .motivational-container .motivation-wrapper .motivation-1 h2{
    width:fit-content;
    padding:10px 25px;
    font-size:18px;
    font-weight:500;
    letter-spacing:1px;
    background:var(--secondary);
    border-radius:25px;
}


.motivation-fullpage .motivational-container .motivation-wrapper .motivation-2{
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.motivation-fullpage .motivational-container .motivation-wrapper .motivation-2 h2{
    font-size:30px;
    line-height:1.6;
    font-weight:500;
    max-width:90%;
    line-height: 35px;
}

.motivation-2 h2::before{
    content:"“ ";
    font-size:40px;
    opacity:0.6;
}
.motivation-2 h2::after{
    content:" ”";
    font-size:40px;
    opacity:0.6;
}


.motivation-fullpage .motivational-container .motivation-wrapper .motivation-3{
    width: 100%;
    display:flex;
    justify-content:flex-end;
    align-items:center;
}
.motivation-fullpage .motivational-container .motivation-wrapper .motivation-3 span{
    font-size:18px;
    font-weight:400;
    padding:10px 5px 10px 20px;
    background:rgba(255, 255, 255, 0.171);
    border-radius:20px 0 0 20px;
    letter-spacing:1px; 
}
.motivation-fullpage .motivational-container .motivation-wrapper .motivation-3 h2{
    font-size:22px;
    font-weight:400;
    padding:8px 20px 8px 0;
    background:rgba(255, 255, 255, 0.171);
    border-radius: 0 20px 20px 0;
    letter-spacing:1px;   
}




/* --------------------- pomodomo-fullpage -------------------- */

.pomodomo-timer-fullpage{
    width:100%;
    height:100%;
    position: relative;
}

.pomodomo-timer-fullpage h2{
    font-size:45px;
    padding:20px 30px;
    letter-spacing:3px;
}

.pomodomo-timer-fullpage .pomodomo-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.pomodomo-timer-fullpage .pomodomo-container .session{
    font-size: 20px;
    background-color: rgb(175, 175, 23);
    color: var(--primary);
    text-align: center;
    margin: 0 30% 20px 30%;
    border-radius: 8px;
}

.pomodomo-timer-fullpage .pomodomo-container h1{
    font-size: 140px;
    font-family: Helvetica;
    font-weight: 100;
    color: var(--primary);
}

.pomodomo-timer-fullpage .pomodomo-container .timer-buttons{
    display:flex;
    justify-content:center;
    gap:20px;
}

.pomodomo-timer-fullpage .pomodomo-container button{
    font-size: 25px;
    font-weight: 700;
    margin: 10px 20px;
    padding: 10px 28px;
    border: none;
    outline: none;
    width: 160px;
    text-align: center;
    color: var(--primary);
    background-color: var(--ternary2);   
    box-shadow: 3px 3px 0 black;
    transition: all ease 0.1s;
}

.pomodomo-timer-fullpage .pomodomo-container button:active{
    scale: 0.97;
    box-shadow: 0 0 0 black;
}
